<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-reader-dem</symbolicName>
    <version>0.1</version>
    <name>NEST DEM Reader</name>

    <description>Enables NEST to read the SRTM, ACE and D-TED digital elevation models.</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    
    <categories>Reader,DEM</categories>
   
</module>