<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-coregistration</symbolicName>
    <version>4A</version>
    <name>NEST Coregistration</name>
    <description>NEST Coregistration</description>
	
	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	
	<dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
	<dependency>
        <module>nest-graph-builder</module>
    </dependency>


    <extension point="beam-ui:layerSources">
        <layerSource>
            <id>gcp-vector-layer-source</id>
            <name>GCP Movement Vector</name>
            <description>Show where GCPs have moved</description>
            <class>org.esa.nest.dat.layersrc.GCPVectorLayerSource</class>
        </layerSource>
    </extension>

    <extension point="beam-ui:actions">

        <action>
            <id>Coregistration</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Coregistration</text>
            <parent>sartools</parent>
        </action>

        <action>
            <id>openCoregistrationDialog</id>
            <class>org.esa.nest.dat.CoregistrationAction</class>
            <parent>Coregistration</parent>
            <text>Full Coregistration</text>
            <shortDescr>Perform Coregistration</shortDescr>
            <separatorAfter>true</separatorAfter>
            <helpId>Coregistration</helpId>
        </action>

        <action>
            <id>CoregistrationGraph</id>
            <class>org.esa.nest.dat.CoregistrationGraphAction</class>
            <text>Full Coregistration (single graph)</text>
            <shortDescr>Perform Coregistration</shortDescr>
            <parent>Coregistration</parent>
            <helpId>Coregistration</helpId>
        </action>

        <action>
            <id>GCPSelectionAction</id>
            <class>org.esa.nest.dat.GCPSelectionAction</class>
            <parent>Coregistration</parent>
            <text>GCP Selection</text>
            <shortDescr>Perform GCP Selection for Coregistration</shortDescr>
            <helpId>GCPSelection</helpId>
        </action>

        <action>
            <id>WarpAction</id>
            <class>org.esa.nest.dat.WarpAction</class>
            <parent>Coregistration</parent>
            <text>Warp</text>
            <shortDescr>Perform Warp for Coregistration</shortDescr>
            <helpId>Warp</helpId>
        </action>
        
        <action>
            <id>openPCADialog</id>
            <class>org.esa.nest.dat.PCAAction</class>
            <parent>imageAnalysis</parent>
            <text>Principal Component Analysis</text>
            <shortDescr>Perform Principal Component Analysis</shortDescr>
            <helpId>PCA</helpId>
        </action>

        <action>
            <id>CreateStack</id>
            <class>org.esa.nest.dat.CreateStackAction</class>
            <text>Create Stack</text>
            <shortDescr>Collocate multiple products into one product</shortDescr>
            <parent>tools</parent>
            <helpId>CreateStackOp</helpId>
        </action>

        <!--action>
            <id>CreateCoherenceImageOp</id>
            <class>org.esa.nest.dat.CreateCoherenceImageOpAction</class>
            <text>Generate Coherence Image</text>
            <shortDescr>Create coherence images</shortDescr>
            <helpId>CreateCoherenceImageOp</helpId>
            <parent>Insar</parent>
            <placeAfter>openCoregistrationDialog</placeAfter>
        </action-->

    </extension>

</module>