<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-coregistration</symbolicName>
    <version>2B</version>
    <name>NEST Coregistration</name>
    <description>NEST Coregistration</description>
	
	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	
	<dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
	<dependency>
        <module>nest-graph-builder</module>
    </dependency>


    <extension point="beam-ui:actions">

        <action>
            <id>openPCADialog</id>
            <class>org.esa.nest.dat.PCAAction</class>
            <parent>sartools</parent>
            <text>Principle Component Analysis</text>
            <shortDescr>Perform Principle Component Analysis</shortDescr>
            <helpId>PCA</helpId>
        </action>
        
        <action>
            <id>openCoregistrationDialog</id>
            <class>org.esa.nest.dat.CoregistrationAction</class>
            <parent>sartools</parent>
            <text>Coregistration</text>
            <shortDescr>Perform Coregistration</shortDescr>
            <placeAfter>openPCADialog</placeAfter>
            <helpId>Coregistration</helpId>
        </action>

    </extension>

</module>