<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-reader-generic</symbolicName>
    <version>4B-1.0</version>
    <name>NEST Generic Binary Product Reader</name>

    <description>
        Reads generic binary products.
    </description>

	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2010 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>European Space Agency</funding>
	
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>beam-geotiff</module>
    </dependency>
    <dependency>
        <module>beam-envi-reader</module>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importFileFormats</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Common File Formats</text>
            <parent>import</parent>
        </action>
        <action>
            <id>importOptical</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Multispectral</text>
            <parent>import</parent>
        </action>

        <action>
            <id>importImageIO</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ImageIO</formatName>
            <text>Import ImageIO (bmp, jpg, png) Product...</text>
            <readerPlugin>org.esa.nest.dataio.ImageIOReaderPlugIn</readerPlugin>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import an ImageIO supported file formats</shortDescr>
            <description>Import an ImageIO supported file formats</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importImageIO</helpId>
            <parent>importFileFormats</parent>
        </action>
        <action>
            <id>importNestEnvi</id>
            <text>Import ENVI Product...</text>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.envi.NestEnviProductReaderPlugIn</readerPlugin>
            <formatName>ENVI</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import an ENVI data product.</shortDescr>
            <placeAfter>importImageIO</placeAfter>
            <helpId>importEnvi</helpId>
            <parent>importFileFormats</parent>
        </action>
        <action>
            <id>importPolsarPro</id>
            <text>Import PolsarPro Product...</text>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.polsarpro.PolsarProProductReaderPlugIn</readerPlugin>
            <formatName>PolSARPro</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <useFilesAndFolders>true</useFilesAndFolders>
            <shortDescr>Import a PolsarPro data product.</shortDescr>
            <placeAfter>importCosmoSkymed</placeAfter>
            <helpId>importPolsarPro</helpId>
        </action>
        <action>
            <id>importGeoTIFFProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.geotiff.NestGeoTiffProductReaderPlugIn</readerPlugin>
            <formatName>GeoTIFF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>O</mnemonic>
            <text>Import GeoTIFF Product...</text>
            <shortDescr>Import a GeoTIFF data product or subset.</shortDescr>
            <description>Import a GeoTIFF data product or product subset.</description>
            <helpId>importGeoTIFFProduct</helpId>
            <parent>importFileFormats</parent>
        </action>

        <action>
            <id>importGenericBinary</id>
            <class>org.esa.nest.dat.actions.GenericReaderAction</class>
            <text>Open Generic Binary... (work in progress)</text>
            <formatName>Generic Binary</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import Generic Binary</shortDescr>
            <helpId>importGenericBinary</helpId>
            <parent>importFileFormats</parent>
        </action>

        <action>
            <id>exportGenericBinary</id>
            <text>Export Generic Binary</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>Generic Binary</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export Generic Binary</shortDescr>
            <helpId>exportGenericBinary</helpId>
        </action>
        <!--action>
            <id>exportImageIO</id>
            <text>Export ImageIO</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>ImageIO</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export ImageIO</shortDescr>
        </action-->
        <!--action>
            <id>exportJPEG2000</id>
            <text>Export JPEG2000</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <writerPlugin>org.esa.nest.dataio.ImageIOWriterPlugIn</writerPlugin>
            <formatName>JPEG2000</formatName>
            <shortDescr>Export to JPEG2000</shortDescr>
        </action-->
    </extension>

</module>