<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-reader-generic</symbolicName>
    <version>2B</version>
    <name>NEST Generic Binary Product Reader</name>

    <description>
        Reads generic binary products.
    </description>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>beam-envi-reader</module>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importOptical</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Optical</text>
            <parent>import</parent>
        </action>

        <action>
            <id>importImageIO</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ImageIO</formatName>
            <text>Import ImageIO (bmp, jpg, png) Products...</text>
            <readerPlugin>org.esa.nest.dataio.ImageIOReaderPlugIn</readerPlugin>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import an ImageIO supported file formats</shortDescr>
            <description>Import an ImageIO supported file formats</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <placeAfter>importTerraSarXProduct</placeAfter>
            <helpId>importImageIO</helpId>
        </action>
        <action>
            <id>importNestEnvi</id>
            <text>Import ENVI Product...</text>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.envi.NestEnviProductReaderPlugIn</readerPlugin>
            <formatName>ENVI</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import an ENVI data product.</shortDescr>
            <placeAfter>importImageIO</placeAfter>
            <helpId>importEnvi</helpId>
        </action>
        <action>
            <id>importPolsarPro</id>
            <text>Import PolsarPro Product...</text>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.polsarpro.PolsarProProductReaderPlugIn</readerPlugin>
            <formatName>PolsarPro</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <useFilesAndFolders>true</useFilesAndFolders>
            <shortDescr>Import a PolsarPro data product.</shortDescr>
            <placeAfter>importNestEnvi</placeAfter>
            <helpId>importPolsarPro</helpId>
        </action>
        <action>
            <id>importGenericBinary</id>
            <text>Import Generic Binary... (work in progress)</text>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.GenericReaderPlugIn</readerPlugin>
            <formatName>Generic Binary</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import Generic Binary</shortDescr>
            <placeAfter>importPolsarPro</placeAfter>
            <helpId>importGenericBinary</helpId>
        </action>

        <action>
            <id>exportGenericBinary</id>
            <text>Export Generic Binary</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>Generic Binary</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export Generic Binary</shortDescr>
            <helpId>exportGenericBinary</helpId>
        </action>
        <!--action>
            <id>exportImageIO</id>
            <text>Export ImageIO</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>ImageIO</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export ImageIO</shortDescr>
        </action-->
        <!--action>
            <id>exportJPEG2000</id>
            <text>Export JPEG2000</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <writerPlugin>org.esa.nest.dataio.ImageIOWriterPlugIn</writerPlugin>
            <formatName>JPEG2000</formatName>
            <shortDescr>Export to JPEG2000</shortDescr>
        </action-->
    </extension>

</module>