<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-dat</symbolicName>
    <version>1C</version>
    <name>NEST Display and Analysis Tool</name>

    <description>NEST Display and Analysis Tool</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    
    <categories>Application,DAT</categories>

    <extension point="ceres-core:applications">
        <application id="DatMain" class="org.esa.nest.dat.DatMain"/>
    </extension>

    <extension point="beam-ui:applicationDescriptors">
            <applicationDescriptor>
                <applicationId>DatMain</applicationId>
                <displayName>DAT</displayName>
                <frameIcon>/org/esa/nest/dat/images/frame-icon.png</frameIcon>
                <image>/org/esa/nest/dat/images/about.jpg</image>
                <excludedActions>
                    <id>orthorectification</id>
                    <id>showDataSources</id>
                    <id>showUpdateDialog</id>
                    <id>new</id>
                    <id>open</id>
                    <id>reopen</id>
                    <id>createAsarNrcsBands</id>
                </excludedActions>
                <excludedToolViews>
                    <id>org.esa.beam.visat.toolviews.spectrum.SpectrumToolView</id>
                    <id>org.esa.beam.scripting.visat.ScriptConsoleToolView</id>
                    <id>org.esa.beam.visat.toolviews.diag.JaiMonitorToolView</id>
                    <id>org.esa.beam.visat.toolviews.lm.LayersToolView</id>
                </excludedToolViews>
            </applicationDescriptor>
    </extension>


    <extension point="beam-ui:toolViews">

        <toolView>
            <id>org.esa.nest.dat.toolviews.Projects.ProjectsToolView</id>
            <class>org.esa.nest.dat.toolviews.Projects.ProjectsToolView</class>
            <title>Project</title>
            <tabTitle>Project</tabTitle>
            <mnemonic>P</mnemonic>
            <accelerator>ctrl alt P</accelerator>
            <smallIcon>/org/esa/nest/icons/project_sm.png</smallIcon>
            <largeIcon>/org/esa/nest/icons/project.png</largeIcon>
            <!--<helpId>TODO</helpId>-->
            <description>Project View.</description>
            <initState>DOCKED</initState>
            <initSide>WEST</initSide>
            <initIndex>0</initIndex>
        </toolView>
    </extension>

    <extension point="beam-ui:actions">

      <action>
            <id>openRaster</id>
            <class>org.esa.beam.visat.actions.OpenAction</class>
            <parent>file</parent>
            <text>Open Raster Dataset</text>
            <mnemonic>O</mnemonic>
            <accelerator>control O</accelerator>
            <placeBefore>openVector</placeBefore>
            <shortDescr>Open a data product.</shortDescr>
            <description>Open a data product.</description>
            <smallIcon>icons/Open16.gif</smallIcon>
            <largeIcon>icons/Open24.gif</largeIcon>
            <helpId>open</helpId>
      </action>

      <action>
            <id>openVector</id>
            <class>org.esa.beam.visat.actions.OpenAction</class>
            <parent>file</parent>
            <text>Open Vector Dataset</text>
            <mnemonic>V</mnemonic>
            <accelerator>control V</accelerator>
            <placeBefore>newProject</placeBefore>
            <shortDescr>Open a vector product.</shortDescr>
            <description>Open a vector product.</description>
            <smallIcon>icons/Open16.gif</smallIcon>
            <largeIcon>icons/Open24.gif</largeIcon>
            <helpId>open</helpId>
      </action>


      <action>
            <id>newProject</id>
            <class>org.esa.nest.dat.actions.NewProjectAction</class>
            <parent>file</parent>
            <text>New Project...</text>
            <accelerator>control P</accelerator>
            <separatorBefore>true</separatorBefore>
            <placeBefore>loadProject</placeBefore>
            <shortDescr>Create a new project</shortDescr>
            <description>Create a new project</description>
            <smallIcon>/org/esa/nest/icons/project-new.png</smallIcon>
            <largeIcon>/org/esa/nest/icons/project-new.png</largeIcon>
            <helpId>newProject</helpId>
      </action>

      <action>
            <id>loadProject</id>
            <class>org.esa.nest.dat.actions.LoadProjectAction</class>
            <parent>file</parent>
            <text>Load Project...</text>
            <accelerator>control L</accelerator>
            <placeBefore>openProductGrabber</placeBefore>
            <shortDescr>Load a project</shortDescr>
            <description>Load a project</description>
            <smallIcon>/org/esa/nest/icons/project_sm.png</smallIcon>
            <largeIcon>/org/esa/nest/icons/project.png</largeIcon>
            <helpId>loadProject</helpId>
      </action>

        <action>
            <id>openInformationDialog</id>
            <class>org.esa.nest.dat.actions.OpenInformationDialogAction</class>
            <placeBefore>openGeoCodingInfoDialog</placeBefore>
            <parent>data</parent>
            <text>Information...</text>
            <mnemonic>I</mnemonic>
            <separatorBefore>true</separatorBefore>
            <shortDescr>Open product information dialog.</shortDescr>
            <description>Open product information dialog.</description>
            <context>product,band,tiePointGrid</context>
            <smallIcon>icons/Information16.gif</smallIcon>
            <largeIcon>icons/Information24.gif</largeIcon>
            <helpId>informationDialog</helpId>
        </action>

        <action>
            <id>showHomePage</id>
            <parent>help</parent>
            <class>org.esa.nest.dat.actions.ShowHomePageAction</class>
            <text>NEST Home Page</text>
            <mnemonic>B</mnemonic>
            <shortDescr>Opens the NEST home page.</shortDescr>
            <description>Opens the NEST home page with the default web browser.</description>
            <helpId>helpTopics</helpId>
            <placeAfter>helpTopics</placeAfter>
        </action>

        <action>
            <id>about</id>
            <parent>help</parent>
            <class>org.esa.beam.visat.actions.AboutAction</class>
            <text>About DAT</text>
            <mnemonic>A</mnemonic>
            <accelerator>ctrl alt A</accelerator>
            <shortDescr>Displays information about NEST DAT.</shortDescr>
            <description>Displays information about NEST DAT.</description>
            <smallIcon>icons/About16.gif</smallIcon>
            <largeIcon>icons/About24.gif</largeIcon>
            <helpId>about</helpId>
            <placeAfter>showUpdateDialog</placeAfter>
            <separatorBefore>true</separatorBefore>
        </action>

        <action>
            <id>openGraphBuilderDialog</id>
            <class>org.esa.nest.dat.actions.OpenGraphBuilderDialogAction</class>
            <parent>tools</parent>
            <text>Graph Builder</text>
            <mnemonic>G</mnemonic>
            <separatorAfter>true</separatorAfter>
            <shortDescr>Open Graph Builder dialog.</shortDescr>
            <description>Open Graph Builder dialog.</description>
            <smallIcon>/org/esa/nest/icons/cog16.png</smallIcon>
            <largeIcon>/org/esa/nest/icons/cog.png</largeIcon>
            <helpId>GraphBuilderDialog</helpId>
        </action>

        <action>
            <id>projection</id>
            <class>org.esa.beam.visat.actions.ProjectionAction</class>
            <parent>geometry</parent>
            <text>Map Projection...</text>
            <shortDescr>Apply Map Projection</shortDescr>
            <helpId>projectionDialog</helpId>
        </action>

        <action>
            <id>attachPixelGeoCoding</id>
            <class>org.esa.beam.visat.actions.AttachPixelGeoCodingAction</class>
            <text>Attach Pixel Geo-Coding...</text>
            <shortDescr>Attaches a pixel based geo-coding</shortDescr>
            <description>Attaches a pixel based geo-coding to the selected product</description>
            <context>attachPixelGeoCoding</context>
            <helpId>attachPixelGeoCoding</helpId>
            <parent>geometry</parent>
            <placeAfter>projection</placeAfter>
            <placeBefore>detachPixelGeoCoding</placeBefore>
            <separatorBefore>true</separatorBefore>
        </action>

        <action>
            <id>detachPixelGeoCoding</id>
            <class>org.esa.beam.visat.actions.DetachPixelGeoCodingAction</class>
            <text>Detach Pixel Geo-Coding...</text>
            <shortDescr>Detaches a pixel based geo-coding</shortDescr>
            <description>Detaches a pixel based geo-coding from the selected product</description>
            <context>detachPixelGeoCoding</context>
            <helpId>detachPixelGeoCoding</helpId>
            <parent>geometry</parent>
            <placeAfter>attachPixelGeoCoding</placeAfter>
            <separatorAfter>true</separatorAfter>
        </action>

        <action>
            <id>showLayersToolBar</id>
            <class>org.esa.beam.visat.actions.ShowToolBarAction</class>
            <context>layersToolBar</context>
            <parent>toolBars</parent>
            <text>Layers Tool Bar</text>
            <mnemonic>L</mnemonic>
            <placeAfter>showAnalysisToolBar</placeAfter>
            <placeBefore>showToolsToolBar</placeBefore>
            <selected>true</selected>
            <toggle>false</toggle>
            <shortDescr>Toggle visibility of the layers tool bar.</shortDescr>
            <description>Toggle visibility of the layers tool bar.</description>
            <helpId>showLayersToolBar</helpId>
        </action>

    </extension>


</module>