<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-dat</symbolicName>
    <version>2A</version>
    <name>NEST Display and Analysis Tool</name>

    <description>NEST Display and Analysis Tool</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>
	
    <categories>Application,DAT</categories>

    <extension point="ceres-core:applications">
        <application id="DatMain" class="org.esa.nest.dat.DatMain"/>
    </extension>

    <extension point="beam-ui:applicationDescriptors">
            <applicationDescriptor>
                <applicationId>DatMain</applicationId>
                <displayName>DAT</displayName>
                <frameIcon>/org/esa/nest/dat/icons/dat.png</frameIcon>
                <image>/org/esa/nest/dat/icons/nest_splash.png</image>
                <excludedActions>
                    <id>orthorectification</id>
                    <id>showDataSources</id>
                    <id>showUpdateDialog</id>
                    <id>new</id>
                    <id>open</id>
                    <id>createAsarNrcsBands</id>
                    <id>selectionTool</id>
                    <id>convertROIToShape</id>
                    <id>deleteShape</id>
                    <id>showHomePage</id>
                    <id>about</id>
                    <id>projection</id>
                    <id>attachPixelGeoCoding</id>
                    <id>detachPixelGeoCoding</id>
                </excludedActions>
                <excludedToolViews>
                    <id>org.esa.beam.visat.toolviews.spectrum.SpectrumToolView</id>
                    <id>org.esa.beam.scripting.visat.ScriptConsoleToolView</id>
                    <id>org.esa.beam.visat.toolviews.diag.TileCacheDiagnosisToolView</id>
                    <id>org.esa.beam.visat.toolviews.bitmask.BitmaskOverlayToolView</id>
                </excludedToolViews>
            </applicationDescriptor>
    </extension>


    <extension point="beam-ui:toolViews">

        <toolView>
            <id>org.esa.nest.dat.toolviews.Projects.ProjectsToolView</id>
            <class>org.esa.nest.dat.toolviews.Projects.ProjectsToolView</class>
            <title>Project</title>
            <tabTitle>Project</tabTitle>
            <mnemonic>P</mnemonic>
            <accelerator>ctrl alt P</accelerator>
            <smallIcon>/org/esa/nest/icons/project_view22.png</smallIcon>
            <largeIcon>/org/esa/nest/icons/project_view30.png</largeIcon>
            <!--<helpId>TODO</helpId>-->
            <description>Project View.</description>
            <initState>DOCKED</initState>
            <initSide>WEST</initSide>
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.beam.visat.toolviews.stat.StatisticsToolView</id>
            <class>org.esa.beam.visat.toolviews.stat.StatisticsToolView</class>
            <title>Analysis View</title>
            <tabTitle>Analysis</tabTitle>
            <mnemonic>t</mnemonic>
            <accelerator>ctrl alt T</accelerator>
            <description>Display statistics for a selected band.</description>
            <smallIcon>/org/esa/beam/resources/images/icons/Statistics16.gif</smallIcon>
            <largeIcon>/org/esa/beam/resources/images/icons/Statistics24.gif</largeIcon>
            <helpId>statisticsToolView</helpId>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>
    </extension>

    <extension point="beam-ui:actions">

      <action>
            <id>newProject</id>
            <class>org.esa.nest.dat.actions.NewProjectAction</class>
            <parent>file</parent>
            <text>New Project...</text>
            <accelerator>control P</accelerator>
            <!--placeBefore>loadProject</placeBefore-->
            <shortDescr>Create a new project</shortDescr>
            <description>Create a new project</description>
            <smallIcon>/org/esa/nest/icons/project-new.png</smallIcon>
            <largeIcon>/org/esa/nest/icons/project-new.png</largeIcon>
            <helpId>newProject</helpId>
      </action>

      <action>
            <id>loadProject</id>
            <class>org.esa.nest.dat.actions.LoadProjectAction</class>
            <parent>file</parent>
            <text>Load Project...</text>
            <accelerator>control L</accelerator>
            <!--placeBefore>saveProjectAs</placeBefore-->
            <placeAfter>newProject</placeAfter>
            <shortDescr>Load a project</shortDescr>
            <description>Load a project</description>
            <smallIcon>/org/esa/nest/icons/project_sm.png</smallIcon>
            <largeIcon>/org/esa/nest/icons/project.png</largeIcon>
            <helpId>loadProject</helpId>
      </action>

      <action>
            <id>saveProjectAs</id>
            <class>org.esa.nest.dat.actions.SaveProjectAsAction</class>
            <parent>file</parent>
            <text>Save Project As...</text>
            <!--placeBefore>closeProject</placeBefore-->
            <placeAfter>openProductGrabber</placeAfter>
            <shortDescr>Save current project to a new location</shortDescr>
            <description>Save current project to a new location</description>
            <smallIcon>icons/Save16.gif</smallIcon>
            <largeIcon>icons/Save24.gif</largeIcon>
      </action>

      <action>
            <id>closeProject</id>
            <class>org.esa.nest.dat.actions.CloseProjectAction</class>
            <parent>file</parent>
            <text>Close Project</text>
            <!--placeBefore>openRaster</placeBefore-->
            <placeAfter>saveProjectAs</placeAfter>
            <shortDescr>Close current project</shortDescr>
            <description>Close current project</description>
      </action>

      <action>
            <id>openRaster</id>
            <class>org.esa.beam.visat.actions.OpenAction</class>
            <parent>file</parent>
            <text>Open Raster Dataset</text>
            <mnemonic>O</mnemonic>
            <accelerator>control O</accelerator>
            <separatorBefore>true</separatorBefore>
            <placeAfter>closeProject</placeAfter>
            <shortDescr>Open a data product.</shortDescr>
            <description>Open a data product.</description>
            <smallIcon>icons/Open16.gif</smallIcon>
            <largeIcon>icons/Open24.gif</largeIcon>
            <helpId>open</helpId>
      </action>

      <action>
            <id>openVector</id>
            <class>org.esa.nest.dat.actions.OpenVectorAction</class>
            <parent>file</parent>
            <placeAfter>openRaster</placeAfter>
            <text>Open Vector Dataset</text>
            <mnemonic>V</mnemonic>
            <accelerator>control V</accelerator>
            <shortDescr>Open a vector product.</shortDescr>
            <description>Open a vector product.</description>
            <smallIcon>icons/Open16.gif</smallIcon>
            <largeIcon>icons/Open24.gif</largeIcon>
            <helpId>open</helpId>
      </action>

        <action>
            <id>reopen</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <parent>file</parent>
            <text>Reopen</text>
            <mnemonic>R</mnemonic>
            <placeAfter>openVector</placeAfter>
            <shortDescr>Re-open a BEAM-DIMAP data product.</shortDescr>
            <longDescr>Re-open a BEAM-DIMAP data product.</longDescr>
            <smallIcon>icons/History16.gif</smallIcon>
            <largeIcon>icons/History24.gif</largeIcon>
            <helpID>reopen</helpID>
        </action>

        <action>
            <id>close</id>
            <class>org.esa.beam.visat.actions.CloseAction</class>
            <parent>file</parent>
            <text>Close</text>
            <mnemonic>C</mnemonic>
            <accelerator>control W</accelerator>
            <placeAfter>reopen</placeAfter>
            <shortDescr>Close an open data product.</shortDescr>
            <description>Close an open data product.</description>
            <smallIcon>icons/Close16.gif</smallIcon>
            <largeIcon>icons/Close24.gif</largeIcon>
            <helpId>close</helpId>
            <context>product</context>
        </action>

        <action>
            <id>closeAll</id>
            <class>org.esa.beam.visat.actions.CloseAllAction</class>
            <parent>file</parent>
            <text>Close All</text>
            <placeAfter>close</placeAfter>
            <shortDescr>Closes all opened data products.</shortDescr>
            <description>Closes all opened data products.</description>
            <smallIcon>icons/Close16.gif</smallIcon>
            <largeIcon>icons/Close24.gif</largeIcon>
            <helpId>closeAll</helpId>
            <context>product</context>
        </action>

        <action>
            <id>save</id>
            <class>org.esa.beam.visat.actions.SaveAction</class>
            <parent>file</parent>
            <text>Save</text>
            <mnemonic>S</mnemonic>
            <placeAfter>closeAll</placeAfter>
            <separatorBefore>true</separatorBefore>
            <shortDescr>Save a BEAM-DIMAP data product.</shortDescr>
            <description>Save a BEAM-DIMAP data product.</description>
            <accelerator>control S</accelerator>
            <smallIcon>icons/Save16.gif</smallIcon>
            <largeIcon>icons/Save24.gif</largeIcon>
            <helpId>save</helpId>
        </action>

        <action>
            <id>saveAs</id>
            <class>org.esa.beam.visat.actions.SaveAsAction</class>
            <parent>file</parent>
            <text>Save As...</text>
            <mnemonic>A</mnemonic>
            <placeAfter>save</placeAfter>
            <separatorAfter>true</separatorAfter>
            <shortDescr>Save a BEAM-DIMAP data product with a different name.</shortDescr>
            <description>Save a BEAM-DIMAP data product with a different name.</description>
            <accelerator></accelerator>
            <smallIcon>icons/SaveAs16.gif</smallIcon>
            <largeIcon>icons/SaveAs24.gif</largeIcon>
            <helpId>saveAs</helpId>
        </action>

        <action>
            <id>import</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <parent>file</parent>
            <text>Product Readers</text>
            <placeAfter>saveAs</placeAfter>
            <mnemonic>I</mnemonic>
            <separatorBefore>true</separatorBefore>
            <shortDescr>Product Readers</shortDescr>
            <description>Open Products with a Specific Reader</description>
            <smallIcon>icons/Import16.gif</smallIcon>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>import</helpId>
        </action>

        <action>
            <id>export</id>
            <class>org.esa.beam.visat.actions.ExportActionGroup</class>
            <parent>file</parent>
            <text>Product Writers</text>
            <mnemonic>I</mnemonic>
            <placeAfter>import</placeAfter>
            <separatorAfter>true</separatorAfter>
            <shortDescr>Product Writers</shortDescr>
            <description>Export to a Specific Format</description>
            <smallIcon>icons/Export16.gif</smallIcon>
            <largeIcon>icons/Export24.gif</largeIcon>
            <helpId>export</helpId>
        </action>

        <action>
            <id>loadTabbedLayout</id>
            <class>org.esa.nest.dat.actions.LoadTabbedLayoutAction</class>
            <parent>layout</parent>
            <text>Load Tabbed Layout</text>
            <shortDescr>Load the tabbed layout.</shortDescr>
        </action>

        <action>
            <id>loadSideBySideLayout</id>
            <class>org.esa.nest.dat.actions.LoadSideBySideLayoutAction</class>
            <parent>layout</parent>
            <text>Load Side by Side Layout</text>
            <shortDescr>Load the layout with Project and Product views side by side.</shortDescr>
        </action>

        <action>
            <id>openInformationDialog</id>
            <class>org.esa.nest.dat.actions.OpenInformationDialogAction</class>
            <placeBefore>openGeoCodingInfoDialog</placeBefore>
            <parent>data</parent>
            <text>Information...</text>
            <mnemonic>I</mnemonic>
            <separatorBefore>true</separatorBefore>
            <shortDescr>Open product information dialog.</shortDescr>
            <description>Open product information dialog.</description>
            <context>product,band,tiePointGrid</context>
            <smallIcon>icons/Information16.gif</smallIcon>
            <largeIcon>icons/Information24.gif</largeIcon>
            <helpId>informationDialog</helpId>
        </action>

        <action>
            <id>showNestHomePage</id>
            <parent>help</parent>
            <class>org.esa.nest.dat.actions.ShowHomePageAction</class>
            <text>NEST Home Page</text>
            <mnemonic>B</mnemonic>
            <shortDescr>Opens the NEST home page.</shortDescr>
            <description>Opens the NEST home page with the default web browser.</description>
            <helpId>helpTopics</helpId>
            <placeAfter>helpTopics</placeAfter>
        </action>

        <action>
            <id>aboutDAT</id>
            <parent>help</parent>
            <class>org.esa.beam.visat.actions.AboutAction</class>
            <text>About DAT</text>
            <mnemonic>A</mnemonic>
            <accelerator>ctrl alt A</accelerator>
            <shortDescr>Displays information about NEST DAT.</shortDescr>
            <description>Displays information about NEST DAT.</description>
            <smallIcon>icons/About16.gif</smallIcon>
            <largeIcon>icons/About24.gif</largeIcon>
            <helpId>about</helpId>
            <placeAfter>showNestHomePage</placeAfter>
            <separatorBefore>true</separatorBefore>
        </action>

        <action>
            <id>nestProjection</id>
            <class>org.esa.beam.visat.actions.ProjectionAction</class>
            <parent>geometry</parent>
            <text>Map Projection...</text>
            <shortDescr>Apply Map Projection</shortDescr>
            <helpId>projectionDialog</helpId>
        </action>

        <action>
            <id>attachNestPixelGeoCoding</id>
            <class>org.esa.beam.visat.actions.AttachPixelGeoCodingAction</class>
            <text>Attach Pixel Geo-Coding...</text>
            <shortDescr>Attaches a pixel based geo-coding</shortDescr>
            <description>Attaches a pixel based geo-coding to the selected product</description>
            <context>attachPixelGeoCoding</context>
            <helpId>attachPixelGeoCoding</helpId>
            <parent>geometry</parent>
            <placeAfter>nestProjection</placeAfter>
            <separatorBefore>true</separatorBefore>
        </action>

        <action>
            <id>detachNestPixelGeoCoding</id>
            <class>org.esa.beam.visat.actions.DetachPixelGeoCodingAction</class>
            <text>Detach Pixel Geo-Coding...</text>
            <shortDescr>Detaches a pixel based geo-coding</shortDescr>
            <description>Detaches a pixel based geo-coding from the selected product</description>
            <context>detachPixelGeoCoding</context>
            <helpId>detachPixelGeoCoding</helpId>
            <placeAfter>attachNestPixelGeoCoding</placeAfter>
            <parent>geometry</parent>
            <separatorAfter>true</separatorAfter>
        </action>

        <action>
            <id>editMetadata</id>
            <class>org.esa.nest.dat.actions.EditMetadataAction</class>
            <text>Edit Metadata</text>
            <shortDescr>Edit product metadata</shortDescr>
            <description>Edit product metadata</description>
            <helpId>editMetadata</helpId>
            <placeBefore>Calibration</placeBefore>
            <parent>sartools</parent>
            <context>metadata</context>
            <largeIcon>/org/esa/nest/icons/metadata_edit.png</largeIcon>
        </action>

        <action>
            <id>searchMetadata</id>
            <class>org.esa.nest.dat.actions.SearchMetadataAction</class>
            <text>Search Metadata</text>
            <shortDescr>Search product metadata</shortDescr>
            <description>Search product metadata</description>
            <helpId>searchMetadata</helpId>
            <placeAfter>editMetadata</placeAfter>
            <parent>sartools</parent>
            <context>metadata</context>
        </action>

        <action>
            <id>applyOrbitFile</id>
            <class>org.esa.nest.dat.actions.ApplyOrbitFileAction</class>
            <text>Apply Orbit File</text>
            <shortDescr>Apply Orbit File to Product</shortDescr>
            <description>Update product metadata with orbit file</description>
            <helpId>applyOrbitFile</helpId>
            <parent>sartools</parent>
            <placeAfter>editMetadata</placeAfter>
            <separatorAfter>true</separatorAfter>
        </action>

        <action>
            <id>showLayersToolBar</id>
            <class>org.esa.beam.visat.actions.ShowToolBarAction</class>
            <context>layersToolBar</context>
            <parent>toolBars</parent>
            <text>Layers Tool Bar</text>
            <mnemonic>L</mnemonic>
            <placeAfter>showAnalysisToolBar</placeAfter>
            <placeBefore>showToolsToolBar</placeBefore>
            <selected>false</selected>
            <toggle>true</toggle>
            <shortDescr>Toggle visibility of the layers tool bar.</shortDescr>
            <description>Toggle visibility of the layers tool bar.</description>
            <helpId>showLayersToolBar</helpId>
        </action>

        <action>
            <id>crossHairTool</id>
            <class>org.esa.beam.visat.actions.ToolAction</class>
            <tool>org.esa.nest.dat.tool.CrossHairTool</tool>
            <parent>tools</parent>
            <text>Select</text>
            <shortDescr>Selection Tool</shortDescr>
            <largeIcon>icons/CrossHairTool.gif</largeIcon>
            <selected>true</selected>
            <helpId>selectTool</helpId>
        </action>

        <action>
            <id>showPolarWaveView</id>
            <class>org.esa.nest.dat.actions.ShowCrossSpectraViewAction</class>
            <text>Open Polar Wave View</text>
            <shortDescr>Open Polar Wave View</shortDescr>
            <parent>sartools</parent>
            <context>band</context>
            <helpId>showPolarWaveView</helpId>
        </action>

    </extension>


</module>