<module>

    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>doris-op-prototypes</symbolicName>
    <version>4A</version>
    <name>NEST-DORIS Prototypes</name>
    <description>NEST-DORIS InSAR prototypes</description>

	<vendor>PPO.labs</vendor>
    <contactAddress>XXXX</contactAddress>
    <copyright>XXXX</copyright>
    <url>XXXX</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

	<dependency>
    	<module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-dat</module>
    </dependency>
	<dependency>
        <module>nest-graph-builder</module>
    </dependency>
    <dependency>
        <module>doris-core-prototypes</module>
    </dependency>


    <extension point="beam-ui:actions">

    	<!--<action>-->
            <!--<id>InSARPrototypes</id>-->
            <!--<class>org.esa.beam.visat.actions.ActionGroup</class>-->
            <!--<text>InSAR Prototypes</text>-->
            <!--<parent>insar</parent>-->
            <!--<separatorAfter>true</separatorAfter>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>CreateStackDorisAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateStackDorisAction</class>-->
            <!--<text>InSAR_Stack</text>-->
            <!--<shortDescr>Collocate InSAR data and construct headers</shortDescr>-->
            <!--<parent>InSARPrototypes</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>InSARPrototypesCoreg</id>-->
            <!--<class>org.esa.beam.visat.actions.ActionGroup</class>-->
            <!--<text>Coregistration</text>-->
            <!--<parent>InSARPrototypes</parent>-->
            <!--<separatorAfter>true</separatorAfter>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>CreateCoregistrationCorOrbAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateCoregistrationCorOrbAction</class>-->
            <!--<text>Coarse Orbit</text>-->
            <!--<shortDescr>Estimate correlation offset using orbits</shortDescr>-->
            <!--<parent>InSARPrototypesCoreg</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>CreateCoregistrationCorCorrAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CoregistrationCorCorrAction</class>-->
            <!--<text>Coarse Correlation</text>-->
            <!--<shortDescr>Estimate correlation offset using coarse correlation windows</shortDescr>-->
            <!--<parent>InSARPrototypesCoreg</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>CreateCoregistrationCorFineAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateCoregistrationCorFineAction</class>-->
            <!--<text>Fine Correlation</text>-->
            <!--<shortDescr>Estimate correlation offset using fine correlation windows</shortDescr>-->
            <!--<parent>InSARPrototypesCoreg</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>CreateCoregistrationCPMAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateCoregistrationCPMAction</class>-->
            <!--<text>CPM Estimation</text>-->
            <!--<shortDescr>Estimate CPM</shortDescr>-->
            <!--<parent>InSARPrototypesCoreg</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>CreateCoregistrationResamplingAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateCoregistrationResampleAction</class>-->
            <!--<text>Resampling</text>-->
            <!--<shortDescr>Resample using CPM</shortDescr>-->
            <!--<parent>InSARPrototypesCoreg</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>InSARExperiments</id>-->
            <!--<class>org.esa.beam.visat.actions.ActionGroup</class>-->
            <!--<text>Experimental</text>-->
            <!--<parent>insar</parent>-->
            <!--<placeAfter>InSARPrototypes</placeAfter>-->
            <!--<separatorAfter>true</separatorAfter>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>BaselinesAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateBaselinesAction</class>-->
            <!--<text>BaselineClass</text>-->
            <!--<shortDescr>Baseline estimation prototype</shortDescr>-->
            <!--<parent>InSARExperiments</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>LAAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateLinearAlgebraAction</class>-->
            <!--<text>Math Stuff</text>-->
            <!--<shortDescr>Linear algebra tests</shortDescr>-->
            <!--<parent>InSARExperiments</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>ComplexDataAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateComplexDataAction</class>-->
            <!--<text>ComplexDataTypes</text>-->
            <!--<shortDescr>Complex Data Types</shortDescr>-->
            <!--<parent>InSARExperiments</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>Experiment_1Action</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateExperiment_1Action</class>-->
            <!--<text>Experimental Operator 1</text>-->
            <!--<shortDescr>Experiment 1</shortDescr>-->
            <!--<parent>InSARExperiments</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>Experiment_2Action</id>-->
            <!--<class>org.esa.nest.doris.dat.CreateExperiment_2Action</class>-->
            <!--<text>Experimental Operator 2</text>-->
            <!--<shortDescr>Experiment 2</shortDescr>-->
            <!--<parent>InSARExperiments</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>CoregistrationCorCorrAction</id>-->
            <!--<class>org.esa.nest.doris.dat.CoregistrationCorCorrAction</class>-->
            <!--<text>Coarse Correlation</text>-->
            <!--<shortDescr>Estimate correlation offset using coarse correlation windows</shortDescr>-->
            <!--<parent>insar</parent>-->
        <!--</action>-->

        <!--<action>-->
            <!--<id>CoregistrationCorCorr2Action</id>-->
            <!--<class>org.esa.nest.doris.dat.CoregistrationCorCorr2Action</class>-->
            <!--<text>Coarse Correlation 2</text>-->
            <!--<shortDescr>Estimate correlation offset using coarse correlation windows</shortDescr>-->
            <!--<parent>insar</parent>-->
        <!--</action>-->

        <action>
            <id>ComplexIfgAction</id>
            <class>org.esa.nest.doris.dat.ComplexIfgAction</class>
            <text>Complex Interferogram (jblas)</text>
            <shortDescr>Compute complex interferogram and optionally subtract "flat earth" phase</shortDescr>
            <parent>insar</parent>
        </action>

        <!--<action>-->
            <!--<id>ComplexSrpIfgAction</id>-->
            <!--<class>org.esa.nest.doris.dat.ComplexSrpIfgAction</class>-->
            <!--<text>Complex SRP Interferogram (jblas)</text>-->
            <!--<shortDescr>Compute complex SRP interferogram (jblas implementation)</shortDescr>-->
            <!--<parent>insar</parent>-->
        <!--</action>-->

	</extension>

</module>
