<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-reader-ers-ceos</symbolicName>
    <version>3C</version>
    <name>NEST ERS 1 and 2 CEOS Product Reader</name>

    <description>
        Enables reading of ERS data products in CEOS format.
    </description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>

    <categories>Reader,ERS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importERSCEOSProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ERS CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Open ERS 1/2 CEOS (VMP and PGS) data product or subset.</shortDescr>
            <description>Open ERS 1/2 CEOS (VMP and PGS) data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importERSProduct</helpId>
            <placeAfter>importErsProduct</placeAfter>
        </action>
        <action>
            <id>importJERSCEOSProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>JERS CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a JERS CEOS data product or subset.</shortDescr>
            <description>Import a JERS CEOS data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importJERSProduct</helpId>
            <placeAfter>importERSCEOSProduct</placeAfter>
        </action>
        <action>
            <id>importAlosPalsarProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ALOS PALSAR CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import an ALOS PALSAR CEOS data product or subset.</shortDescr>
            <description>Import an ALOS PALSAR CEOS data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importAlosPalsarProduct</helpId>
            <placeAfter>importJERSCEOSProduct</placeAfter>
        </action>
        <action>
            <id>importRadarsatProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>Radarsat 1 CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a Radarsat 1 CEOS data product or subset.</shortDescr>
            <description>Import a Radarsat 1 CEOS data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importRadarsatProduct</helpId>
            <placeAfter>importAlosPalsarProduct</placeAfter>
        </action>
    </extension>

</module>