<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-reader-ers-ceos</symbolicName>
    <version>1A</version>
    <name>ERS 1 and 2 CEOS Product Reader</name>

    <description>
        Enables BEAM to read ERS data products in CEOS format.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,ERS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importERSCEOSProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ERS CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>R</mnemonic>
            <shortDescr>Import an ERS CEOS data product or product subset.</shortDescr>
            <description>Import an ERS CEOS data product or product subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importPalsarProduct</helpId>
            <placeAfter>importNetcdfProduct</placeAfter>
        </action>
        <action>
            <id>importJERSCEOSProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>JERS CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>J</mnemonic>
            <shortDescr>Import a JERS CEOS data product or product subset.</shortDescr>
            <description>Import a JERS CEOS data product or product subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importJERSProduct</helpId>
            <placeAfter>importERSCEOSProduct</placeAfter>
        </action>
        <action>
            <id>importRadarsatProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>Radarsat 1 CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>D</mnemonic>
            <shortDescr>Import a Radarsat 1 CEOS data product or product subset.</shortDescr>
            <description>Import an Radarsat 1 CEOS data product or product subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importRadarsatProduct</helpId>
            <placeAfter>importJERSProduct</placeAfter>
        </action>
    </extension>

</module>