<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-orthorectification</symbolicName>
    <version>2C</version>
    <name>nest-op-orthorectification</name>
    <description>NEST Orthorectification</description>
	
	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	
	<dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
      <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>

    <categories>Processing</categories>

    <extension point="beam-ui:actions">

        <action>
            <id>RangeDopplerGeocodingOp</id>
            <class>org.esa.nest.dat.RangeDopplerGeocodingOpAction</class>
            <text>Terrain Correction</text>
            <shortDescr>Terrain Correction Range-Doppler Method</shortDescr>
            <parent>geometry</parent>
            <helpId>RangeDopplerGeocodingOp</helpId>
        </action>

        <action>
            <id>GeolocationGridGeocodingOp</id>
            <class>org.esa.nest.dat.GeolocationGridGeocodingOpAction</class>
            <text>Ellipsoid Correction</text>
            <shortDescr>Ellipsoid Correction Geolocation-Grid Method</shortDescr>
            <parent>geometry</parent>
            <helpId>GeolocationGridGeocodingOp</helpId>
        </action>

        <action>
            <id>createElevationOp</id>
            <class>org.esa.nest.dat.CreateElevationOpAction</class>
            <text>Create Elevation</text>
            <shortDescr>Creates a new product with a DEM</shortDescr>
            <parent>geometry</parent>
            <helpId>CreateElevationOp</helpId>
        </action>

        <action>
            <id>nestCreateElevationBand</id>
            <class>org.esa.beam.visat.actions.CreateElevationBandAction</class>
            <text>Create Elevation Band</text>
            <shortDescr>Creates an elevation band from a selected DEM</shortDescr>
            <description>Creates an elevation band from a selected Digital Elevation Model (DEM)</description>
            <context>createElevationBand</context>
            <helpId>createElevationBand</helpId>
            <parent>geometry</parent>
            <placeAfter>createElevationOp</placeAfter>
        </action>

    </extension>

</module>