<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-orthorectification</symbolicName>
    <version>3A</version>
    <name>nest-op-orthorectification</name>
    <description>NEST Orthorectification</description>
	
	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	
	<dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
      <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>
    <dependency>
      <module>nest-op-calibration</module>
    </dependency>
    <dependency>
      <module>nest-op-coregistration</module>
    </dependency>

    <categories>Processing</categories>

    <extension point="beam-ui:actions">

        <action>
            <id>TerrainCorrection</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Terrain Correction</text>
            <parent>geometry</parent>
        </action>

        <action>
            <id>RangeDopplerGeocodingOp</id>
            <class>org.esa.nest.dat.RangeDopplerGeocodingOpAction</class>
            <text>Range-Doppler Terrain Correction</text>
            <shortDescr>Terrain Correction Range-Doppler Method</shortDescr>
            <parent>TerrainCorrection</parent>
            <separatorAfter>true</separatorAfter>
            <helpId>RangeDopplerGeocodingOp</helpId>
        </action>

        <action>
            <id>openOrthorectificationDialog</id>
            <class>org.esa.nest.dat.SARSimTerrainCorrectionAction</class>
            <parent>TerrainCorrection</parent>
            <text>SAR-Simulation Terrain Correction</text>
            <shortDescr>Perform Orthorectification using a simulated SAR image</shortDescr>
            <placeAfter>RangeDopplerGeocodingOp</placeAfter>
            <helpId>SARSimGeocodingOp</helpId>
        </action>

        <action>
            <id>SARSimulationOp</id>
            <class>org.esa.nest.dat.SARSimulationOpAction</class>
            <text>SAR Simulation</text>
            <shortDescr>SAR simulation method</shortDescr>
            <parent>TerrainCorrection</parent>
            <placeAfter>openOrthorectificationDialog</placeAfter>
            <helpId>SARSimOp</helpId>
        </action>

        <action>
            <id>EllipsoidCorrection</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Ellipsoid Correction</text>
            <parent>geometry</parent>
            <placeAfter>TerrainCorrection</placeAfter>
        </action>

        <action>
            <id>GeolocationGridGeocodingOp</id>
            <class>org.esa.nest.dat.GeolocationGridGeocodingOpAction</class>
            <text>Geolocation-Grid</text>
            <shortDescr>Ellipsoid Correction Geolocation-Grid Method</shortDescr>
            <parent>EllipsoidCorrection</parent>
            <helpId>GeolocationGridGeocodingOp</helpId>
        </action>

        <action>
            <id>EllipsoidCorrectionRDOp</id>
            <class>org.esa.nest.dat.EllipsoidCorrectionRDOpAction</class>
            <text>Average Height Range-Doppler</text>
            <shortDescr>Ellipsoid Correction Range-Doppler Method Assuming Average Height</shortDescr>
            <parent>EllipsoidCorrection</parent>
            <helpId>EllipsoidCorrectionRDOp</helpId>
        </action>

        <action>
            <id>nestCreateElevationBand</id>
            <class>org.esa.beam.visat.actions.CreateElevationBandAction</class>
            <text>Create Elevation Band</text>
            <shortDescr>Creates an elevation band from a selected DEM</shortDescr>
            <description>Creates an elevation band from a selected Digital Elevation Model (DEM)</description>
            <context>createElevationBand</context>
            <helpId>createElevationBand</helpId>
            <parent>geometry</parent>
            <placeAfter>createElevationOp</placeAfter>
        </action>

        <action>
            <id>MosaicOp</id>
            <class>org.esa.nest.dat.MosaicOpAction</class>
            <text>Mosaic</text>
            <shortDescr>Mosaic various images together</shortDescr>
            <parent>geometry</parent>
            <helpId>MosaicOp</helpId>
        </action>
		
    </extension>

</module>