<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-ocean-tools</symbolicName>
    <version>4B-1.1</version>
    <name>NEST Ocean Tools</name>
    <description>NEST Ocean Tools</description>
	
    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2011 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>European Space Agency</funding>
	
    <dependency>
      <module>nest-reader-dem</module>
    </dependency>
    <dependency>
      <module>nest-graph-builder</module>
    </dependency>

    <categories>Processing</categories>


    <extension point="beam-ui:layerSources">
        <layerSource>
            <id>object-detection-layer-source</id>
            <name>Object Detection Results</name>
            <description>Shows detected objects</description>
            <class>org.esa.nest.dat.layersrc.ObjectDetectionLayerSource</class>
        </layerSource>
        <layerSource>
            <id>wind-field-estimation-layer-source</id>
            <name>Wind Field Estimation Results</name>
            <description>Shows wind field</description>
            <class>org.esa.nest.dat.layersrc.WindFieldEstimationLayerSource</class>
        </layerSource>
    </extension>

    <extension point="beam-ui:actions">

        <action>
            <id>createLandMaskOp</id>
            <class>org.esa.nest.dat.oceantools.CreateLandMaskOpAction</class>
            <text>Create Land Mask</text>
            <shortDescr>Creates a Land/Sea Mask</shortDescr>
            <parent>oceanTools</parent>
            <helpId>CreateLandMask</helpId>
        </action>

        <action>
            <id>ObjectDetection</id>
            <class>org.esa.nest.dat.oceantools.ObjectDetectionAction</class>
            <text>Object Detection</text>
            <shortDescr>Ocean Object Detection</shortDescr>
            <parent>oceanTools</parent>
			<helpId>ObjectDetection</helpId>
        </action>
        
        <action>
            <id>OilSpillDetectionOp</id>
            <class>org.esa.nest.dat.oceantools.OilSpillDetectionOpAction</class>
            <text>Oil Spill Detection</text>
            <shortDescr>Oil Spill Detection</shortDescr>
            <placeAfter>ObjectDetection</placeAfter>
            <parent>oceanTools</parent>
			<helpId>OilSpillDetection</helpId>
        </action>

        <action>
            <id>WindFieldEstimation</id>
            <class>org.esa.nest.dat.oceantools.WindFieldEstimationOpAction</class>
            <text>Wind Field Estimation</text>
            <shortDescr>Wind Field Estimation</shortDescr>
            <placeAfter>OilSpillDetectionOp</placeAfter>
            <helpId>WindFieldEstimation</helpId>
            <parent>oceanTools</parent>
        </action>

    </extension>

	<extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
			<id>oceanToolsHelp</id>
            <path>doc/help/ocean-tools.hs</path>
        </helpSet>
    </extension>
</module>