<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-calibration</symbolicName>
    <version>4A</version>
    <name>NEST Calibration Operator</name>
    <description>NEST Calibration Operator</description>
	
	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>

    <categories>VISAT,Processing</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>Calibration</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Radiometric Correction</text>
            <parent>sartools</parent>
        </action>

        <action>
            <id>CalibrationOp</id>
            <class>org.esa.nest.dat.CalibrationOpAction</class>
            <text>Calibrate</text>
            <shortDescr>Invoke the Calibration operator.</shortDescr>
            <parent>Calibration</parent>
            <helpId>CalibrationOp</helpId>
        </action>

        <action>
            <id>RemoveAntennaPatternOp</id>
            <class>org.esa.nest.dat.RemoveAntennaPatternOpAction</class>
            <text>Remove Antenna Pattern</text>
            <shortDescr>Remove the Antenna Pattern for ASAR and ERS products</shortDescr>
            <parent>Calibration</parent>
            <placeAfter>CalibrationOp</placeAfter>
            <helpId>RemoveAntennaPatternOp</helpId>
        </action>

        <action>
            <id>importXCAProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ENVISAT</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>View ASAR XCA Product</text>
            <shortDescr>Import an ENVISAT External Calibration.</shortDescr>
            <description>Import an ENVISAT External Calibration.</description>
            <parent>Calibration</parent>
            <largeIcon>icons/Import24.gif</largeIcon>
            <separatorBefore>true</separatorBefore>
            <placeAfter>Sigma0toBeta0</placeAfter>
        </action>

        <action>
            <id>Sigma0toGamma0</id>
            <class>org.esa.nest.dat.Sigma0toGamma0Action</class>
            <text>Sigma0 to Gamma0</text>
            <shortDescr>Add a Gamma0 virtual band</shortDescr>
            <parent>Calibration</parent>
            <placeAfter>RemoveAntennaPatternOp</placeAfter>
            <context>band</context>
            <helpId>Sigma0toGamma0</helpId>
        </action>

        <action>
            <id>Sigma0toBeta0</id>
            <class>org.esa.nest.dat.Sigma0toBeta0Action</class>
            <text>Sigma0 to Beta0</text>
            <shortDescr>Add a Beta0 virtual band</shortDescr>
            <parent>Calibration</parent>
            <placeAfter>Sigma0toGamma0</placeAfter>
            <context>band</context>
            <helpId>Sigma0toBeta0</helpId>
        </action>

    </extension>
</module>