<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-sar-tools</symbolicName>
    <version>2A</version>
    <name>nest-op-sar-tools</name>
    <description>NEST SAR Tools</description>
	
	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	
	<dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
      <module>nest-core</module>
    </dependency>
    <dependency>
      <module>nest-graph-builder</module>
    </dependency>

    <categories>Processing</categories>

    <extension point="beam-ui:actions">

        <action>
            <id>SlantRangeGroundRangeOp</id>
            <class>org.esa.nest.dat.SRGROpAction</class>
            <text>Slant Range to Ground Range</text>
            <shortDescr>Converts a product to/from slant range to/from ground range</shortDescr>
            <parent>geometry</parent>
            <helpId>SRGROp</helpId>
        </action>

        <action>
            <id>GeographicToSatelliteOp</id>
            <class>org.esa.nest.dat.GeographicToSatelliteOpAction</class>
            <text>Geographic To Satellite Geometry</text>
            <shortDescr>Converts from geographic to satellite geometry</shortDescr>
            <parent>geometry</parent>
            <helpId>GeographicToSatelliteOp</helpId>
        </action>

        <action>
            <id>MultilookOp</id>
            <class>org.esa.nest.dat.MultilookOpAction</class>
            <text>Multilooking</text>
            <shortDescr>Multilook an image</shortDescr>
            <parent>sartools</parent>
            <helpId>MultilookOp</helpId>
        </action>

        <action>
            <id>FocusingAdjustmentOp</id>
            <class>org.esa.nest.dat.FocusingAdjustmentOpAction</class>
            <text>Focusing Adjustment</text>
            <shortDescr>Focusing Adjustment</shortDescr>
            <parent>sartools</parent>
            <helpId>FocusingAdjustmentOp</helpId>
        </action>

        <action>
            <id>Resampling</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Resampling</text>
            <parent>tools</parent>
        </action>

        <action>
            <id>OverSamplingOp2</id>
            <class>org.esa.nest.dat.OverSamplingOp2Action</class>
            <text>OverSample</text>
            <shortDescr>Oversample an image</shortDescr>
            <parent>Resampling</parent>
            <helpId>OverSampleOp</helpId>
        </action>

        <action>
            <id>UnderSamplingOp</id>
            <class>org.esa.nest.dat.UnderSamplingOpAction</class>
            <text>Undersample</text>
            <shortDescr>Undersample an image</shortDescr>
            <parent>Resampling</parent>
            <helpId>UnderSampleOp</helpId>
        </action>

        <action>
            <id>DatasetConversion</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Dataset Conversion</text>
            <parent>tools</parent>
        </action>

        <action>
            <id>FormatChangeOp</id>
            <class>org.esa.nest.dat.FormatChangeOpAction</class>
            <text>Datatype Format Change</text>
            <shortDescr>Change the datatype of the product</shortDescr>
            <parent>DatasetConversion</parent>
            <helpId>FormatChangeOp</helpId>
        </action>

        <action>
            <id>AmplitudeToIntensityOp</id>
            <class>org.esa.nest.dat.AmplitudeToIntensityOpAction</class>
            <text>Amplitude to/from Intensity</text>
            <shortDescr>Change the data Amplitude to/from Intensity</shortDescr>
            <parent>DatasetConversion</parent>
            <context>band</context>
            <helpId>AmplitudeToIntensityOp</helpId>
        </action>

        <action>
            <id>LinearTodBOp</id>
            <class>org.esa.nest.dat.LinearTodBOpAction</class>
            <text>Linear to/from dB</text>
            <shortDescr>Change the data Linear to/from dB</shortDescr>
            <parent>DatasetConversion</parent>
            <context>band</context>
            <helpId>LinearTodBOp</helpId>
        </action>

        <action>
            <id>TerrainCorrectionGroup</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Terrain Correction</text>
            <parent>geometry</parent>
        </action>

        <action>
            <id>forwardTerrainCorrectionOp</id>
            <class>org.esa.nest.dat.ForwardTerrainCorrectionOpAction</class>
            <text>Forward</text>
            <shortDescr>Terrain Correction Forward Method</shortDescr>
            <parent>TerrainCorrectionGroup</parent>
        </action>

        <action>
            <id>backwardTerrainCorrectionOp</id>
            <class>org.esa.nest.dat.BackwardTerrainCorrectionOpAction</class>
            <text>Backward</text>
            <shortDescr>Terrain Correction Backward Method</shortDescr>
            <parent>TerrainCorrectionGroup</parent>
        </action>

    </extension>

</module>