<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-sar-tools</symbolicName>
    <version>3C</version>
    <name>NEST SAR Tools</name>
    <description>NEST SAR Tools</description>
	
	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	
	<dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
      <module>nest-core</module>
    </dependency>
    <dependency>
      <module>nest-graph-builder</module>
    </dependency>

    <categories>Processing</categories>


    <extension point="beam-visat-rcp:layerSources">
        <layerSource>
            <id>object-detection-layer-source</id>
            <name>Object Detection Results</name>
            <description>Shows detected objects</description>
            <class>org.esa.nest.dat.layersrc.ObjectDetectionLayerSource</class>
        </layerSource>
    </extension>
	
    <extension point="beam-visat-rcp:layerSources">
        <layerSource>
            <id>wind-field-estimation-layer-source</id>
            <name>Wind Field Estimation Results</name>
            <description>Shows wind field</description>
            <class>org.esa.nest.dat.layersrc.WindFieldEstimationLayerSource</class>
        </layerSource>
    </extension>

    <extension point="beam-ui:actions">

        <action>
            <id>SlantRangeGroundRangeOp</id>
            <class>org.esa.nest.dat.SRGROpAction</class>
            <text>Slant Range to Ground Range</text>
            <shortDescr>Converts a product to/from slant range to/from ground range</shortDescr>
            <parent>geometry</parent>
            <helpId>SRGROp</helpId>
        </action>

        <!--action>
            <id>GeographicToSatelliteOp</id>
            <class>org.esa.nest.dat.GeographicToSatelliteOpAction</class>
            <text>Geographic To Satellite Geometry</text>
            <shortDescr>Converts from geographic to satellite geometry</shortDescr>
            <parent>geometry</parent>
            <helpId>GeographicToSatelliteOp</helpId>
        </action-->

        <action>
            <id>MultilookOp</id>
            <class>org.esa.nest.dat.MultilookOpAction</class>
            <text>Multilooking</text>
            <shortDescr>Multilook an image</shortDescr>
            <parent>sartools</parent>
            <helpId>MultilookOp</helpId>
        </action>

        <!--action>
            <id>FocusingAdjustmentOp</id>
            <class>org.esa.nest.dat.FocusingAdjustmentOpAction</class>
            <text>Focusing Adjustment</text>
            <shortDescr>Focusing Adjustment</shortDescr>
            <parent>sartools</parent>
            <helpId>FocusingAdjustmentOp</helpId>
        </action-->

        <action>
            <id>Resampling</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Resampling</text>
            <parent>tools</parent>
        </action>

        <action>
            <id>OverSamplingOp</id>
            <class>org.esa.nest.dat.OverSamplingOpAction</class>
            <text>OverSample</text>
            <shortDescr>Oversample an image</shortDescr>
            <parent>Resampling</parent>
            <helpId>OverSampleOp</helpId>
        </action>

        <action>
            <id>UnderSamplingOp</id>
            <class>org.esa.nest.dat.UnderSamplingOpAction</class>
            <text>Undersample</text>
            <shortDescr>Undersample an image</shortDescr>
            <parent>Resampling</parent>
            <helpId>UnderSampleOp</helpId>
        </action>

        <action>
            <id>DatasetConversion</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Dataset Conversion</text>
            <parent>tools</parent>
        </action>

        <action>
            <id>ConvertDatatypeOp</id>
            <class>org.esa.nest.dat.FormatChangeOpAction</class>
            <text>Convert Datatype</text>
            <shortDescr>Change the datatype of the product</shortDescr>
            <parent>DatasetConversion</parent>
            <helpId>ConvertDatatypeOp</helpId>
        </action>

        <action>
            <id>SLCtoPRI</id>
            <class>org.esa.nest.dat.SLCtoPRIAction</class>
            <text>Complex to Detected GR</text>
            <shortDescr>Convert a SLC product to a detected ground range product</shortDescr>
            <parent>DatasetConversion</parent>
            <helpId>SLCtoPRI</helpId>
        </action>

        <action>
            <id>AmplitudeToIntensityOp</id>
            <class>org.esa.nest.dat.AmplitudeToIntensityOpAction</class>
            <text>Amplitude to/from Intensity</text>
            <shortDescr>Change the data Amplitude to/from Intensity</shortDescr>
            <parent>DatasetConversion</parent>
            <context>band</context>
            <helpId>AmplitudeToIntensityOp</helpId>
        </action>

        <action>
            <id>LinearTodBOp</id>
            <class>org.esa.nest.dat.LinearTodBOpAction</class>
            <text>Linear to/from dB</text>
            <shortDescr>Change the data Linear to/from dB</shortDescr>
            <parent>DatasetConversion</parent>
            <context>band</context>
            <helpId>LinearTodBOp</helpId>
        </action>

        <action>
            <id>ScaleData</id>
            <class>org.esa.nest.dat.ScaleDataAction</class>
            <text>Scale Data</text>
            <shortDescr>Scale data using a virtual band</shortDescr>
            <parent>DatasetConversion</parent>
            <context>band</context>
            <helpId>ScaleData</helpId>
        </action>

        <action>
            <id>ASARWSS</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>ASAR WSS</text>
            <placeAfter>SpeckleFilteringGroup</placeAfter>
            <parent>sartools</parent>
        </action>

        <action>
            <id>WSSDeBurstOp</id>
            <class>org.esa.nest.dat.WSSDeBurstOpAction</class>
            <text>WSS Deburst</text>
            <shortDescr>Invoke the ASAR WSS DeBurst operator.</shortDescr>
            <parent>ASARWSS</parent>
            <helpId>WSSDeburstOp</helpId>
        </action>

        <action>
            <id>WSSMosaicOp</id>
            <class>org.esa.nest.dat.WSSMosaicOpAction</class>
            <text>WSS Mosaic (coming soon)</text>
            <shortDescr>Invoke the ASAR WSS Mosaic operator.</shortDescr>
            <parent>ASARWSS</parent>
            <placeAfter>WSSDeBurstOp</placeAfter>
            <helpId>WSSMosiacOp</helpId>
        </action>

        <action>
            <id>applyOrbitFile</id>
            <class>org.esa.nest.dat.ApplyOrbitFileOpAction</class>
            <text>Apply Orbit File</text>
            <shortDescr>Apply Orbit File to Product</shortDescr>
            <description>Update product metadata with orbit file</description>
            <helpId>ApplyOrbitFileOp</helpId>
            <parent>sartools</parent>
            <placeBefore>Calibration</placeBefore>
            <separatorAfter>true</separatorAfter>
        </action>

        <action>
            <id>SpeckleFilteringGroup</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Speckle Filtering</text>
            <parent>sartools</parent>
            <placeAfter>Calibration</placeAfter>
        </action>

        <action>
            <id>SpeckleFilterOp</id>
            <class>org.esa.nest.dat.filtering.SpeckleFilterOpAction</class>
            <text>Single Product</text>
            <shortDescr>Invoke the Speckle Filter operator on a single product.</shortDescr>
            <parent>SpeckleFilteringGroup</parent>
            <helpId>SpeckleFilterOp</helpId>
        </action>

        <action>
            <id>MultiTemporalSpeckleFilterOp</id>
            <class>org.esa.nest.dat.filtering.MultiTemporalSpeckleFilterOpAction</class>
            <text>Multi-temporal Products</text>
            <shortDescr>Invoke the Speckle Filter operator on multi-temporal products.</shortDescr>
            <parent>SpeckleFilteringGroup</parent>
            <helpId>MultiTemporalSpeckleFilterOp</helpId>
        </action>

        <action>
            <id>createLandMaskOp</id>
            <class>org.esa.nest.dat.oceantools.CreateLandMaskOpAction</class>
            <text>Create Land Mask</text>
            <shortDescr>Creates a Land/Sea Mask</shortDescr>
            <parent>oceanTools</parent>
            <helpId>CreateLandMask</helpId>
        </action>

        <action>
            <id>ObjectDetection</id>
            <class>org.esa.nest.dat.oceantools.ObjectDetectionAction</class>
            <text>Object Detection</text>
            <shortDescr>Ocean Object Detection</shortDescr>
            <parent>oceanTools</parent>
			<helpId>ObjectDetection</helpId>
        </action>
        
        <action>
            <id>OilSpillDetectionOp</id>
            <class>org.esa.nest.dat.oceantools.OilSpillDetectionOpAction</class>
            <text>Oil Spill Detection</text>
            <shortDescr>Oil Spill Detection</shortDescr>
            <placeAfter>ObjectDetection</placeAfter>
            <parent>oceanTools</parent>
			<helpId>OilSpillDetection</helpId>
        </action>

        <action>
            <id>WindFieldEstimation</id>
            <class>org.esa.nest.dat.oceantools.WindFieldEstimationOpAction</class>
            <text>Wind Field Estimation</text>
            <shortDescr>Wind Field Estimation</shortDescr>
            <placeAfter>OilSpillDetectionOp</placeAfter>
            <parent>oceanTools</parent>
        </action>

    </extension>

</module>