<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-data-analysis</symbolicName>
    <version>1C</version>
    <name>nest-op-sar-tools</name>
    <description>NEST SAR Tools</description>
	
	<vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2007 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	
	<dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-ui</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
      <module>nest-core</module>
    </dependency>

    <categories>Processing</categories>

    <extension point="beam-ui:actions">

        <action>
            <id>SlantRangeGroundRangeOp</id>
            <class>org.esa.nest.dat.SRGROpAction</class>
            <text>Slant Range to Ground Range</text>
            <shortDescr>Converts a product to/from slant range to/from ground range</shortDescr>
            <parent>geometry</parent>
        </action>

        <action>
            <id>MultilookOp</id>
            <class>org.esa.nest.dat.MultilookOpAction</class>
            <text>Multilooking</text>
            <shortDescr>Multilook an image</shortDescr>
            <parent>sartools</parent>
        </action>

        <action>
            <id>Resampling</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Resampling</text>
            <parent>tools</parent>
        </action>

        <action>
            <id>OverSamplingOp</id>
            <class>org.esa.nest.dat.OverSamplingOpAction</class>
            <text>Oversampling</text>
            <shortDescr>Over sample an image</shortDescr>
            <parent>Resampling</parent>
        </action>

        <action>
            <id>UnderSamplingOp</id>
            <class>org.esa.nest.dat.UnderSamplingOpAction</class>
            <text>Undersampling</text>
            <shortDescr>Under sample an image</shortDescr>
            <parent>Resampling</parent>
        </action>

        <action>
            <id>DatasetConversion</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Dataset Conversion</text>
            <parent>tools</parent>
        </action>

        <action>
            <id>FormatChange</id>
            <class>org.esa.nest.dat.FormatChangeOpAction</class>
            <text>DataType Format Change</text>
            <shortDescr>Change the datatype of the product</shortDescr>
            <parent>DatasetConversion</parent>
        </action>


    </extension>

</module>